@import 'utils';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
    outline: none;
}

html {
    font-size: $fontSize;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    width: 100%;
    min-width: rem(320px);
    margin: 0 auto;
    font-size: rem(14px);
    font-family: $fontFamily;
    color: $bodyFontColor;
    background-color: $bodyDefaultBgColor;
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
    outline: none;
}

ul, ol, li {
    list-style: none;
    text-align: left;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border: 0 none;
    outline: none;
}

input, label, button, textarea, select {
    font-family: $fontFamily;
}

input[type="submit"], input[type="text"], input[type="button"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-search-cancel-button {
    opacity: 0;
}

input:focus {
    outline: 0;
}

[contenteditable="true"], input, textarea {
    -webkit-user-select: auto !important;
    user-select: auto !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

em, i, s, del, small, u, strike, strong, label {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    color: $linkDefaultColor;
    outline: 0;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active, a:focus {
    outline: 0;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gray {
    background-color: #f9f9f9 !important;
}

.c-default {
    color: $linkDefaultColor
}

.c-color {
    color: $chiefColor !important;
}

.c-orange-color {
    color: $chiefOrangeColor !important;
}

.c-blue-color {
    color: $chiefBlueColor !important;
}

.c-gray-color {
    color: $chiefGrayColor !important;
}

.c-green-color {
    color: $chiefGreenColor !important;
}

.bold {
    font-weight: 600 !important;
}

.c-standard {
    color: $chiefColor !important;
}

.clear {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pos-s {
    position: static !important;
}

.pos-r {
    position: relative !important;
}

.pos-a {
    position: absolute !important;
}

.pos-f {
    position: fixed !important;
}

.hidden {
    display: none !important;
}

.hide {
    display: none;
}

[v-cloak] {
    display: none;
}

.pdzero {
    padding: 0 !important;
}

.pb10 {
    padding-bottom: rem(10px) !important;
}

.pb20 {
    padding-bottom: rem(20px) !important;
}

.pb30 {
    padding-bottom: rem(30px) !important;
}

.pb45 {
    padding-bottom: rem(45px) !important;
}

.pb50 {
    padding-bottom: rem(50px) !important;
}

.pb60 {
    padding-bottom: rem(60px) !important;
}

.pb70 {
    padding-bottom: rem(70px) !important;
}

.pb80 {
    padding-bottom: rem(80px) !important;
}

.pt6 {
    padding-top: rem(6px) !important;
}

.pt7 {
    padding-top: rem(7px) !important;
}

.pt10 {
    padding-top: rem(10px) !important;
}

.pt20 {
    padding-top: rem(20px) !important;
}

.pt30 {
    padding-top: rem(30px) !important;
}

.pt44 {
    padding-top: rem(44px) !important;
}

.pt50 {
    padding-top: rem(50px) !important;
}

.pt52 {
    padding-top: rem(52px) !important;
}

.pt54 {
    padding-top: rem(54px) !important;
}

.pt55 {
    padding-top: rem(55px) !important;
}

.mt8 {
    margin-top: rem(8px) !important;
}

.mt10 {
    margin-top: rem(10px) !important;
}

.mt20 {
    margin-top: rem(20px) !important;
}

.mt58 {
    margin-top: rem(58px) !important;
}

.mb8 {
    margin-bottom: rem(8px) !important;
}

.mb10 {
    margin-bottom: rem(10px) !important;
}

.ptrbl {
    padding: rem(16px) !important;
}

.pl16 {
    padding-left: rem(16px) !important;
}

.pr16 {
    padding-right: rem(16px) !important;
}

.plr16 {
    padding-left: rem(16px) !important;
    padding-right: rem(16px) !important;
}

.ml16 {
    margin-left: rem(16px) !important;
}

.mr16 {
    margin-right: rem(16px) !important;
}

.mlr16 {
    margin-left: rem(16px) !important;
    margin-right: rem(16px) !important;
}

/*1px border hack -- over ios8*/
.r1bt {
    border-top: 1px solid $borderColor;
}

.r1bb {
    border-bottom: 1px solid $borderColor;
}

.r1bl {
    border-left: 1px solid $borderColor;
}

.r1br {
    border-right: 1px solid $borderColor;
}

.r1b {
    border: 1px solid $borderColor;
}

.hairlines .r1bt, .hairlines .r1bb, .hairlines .r1bl, .hairlines .r1br, .hairlines .r1b {
    border-width: .5px !important;
}

/*1px border hack -- over ios8*/
/* height and line-height 48px */
.h_a_lh_48 {
    height: rem(48px);
    line-height: rem(48px);
}

.h_a_lh_32 {
    height: rem(32px);
    line-height: rem(32px);
}

/* height and line-height 48px */
.transformXY50 {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.transformX50 {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.transformY50 {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#dalert, .dconfirm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
}

.tanchu {
    position: fixed;
    left: 50%;
    top: 50%;
    width: rem(240px);
    height: rem(140px);
    margin: rem(-70px) 0 0 rem(-120px);
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 4;
}

.loading {
    display: table;
    height: rem(100px);
    margin: 0 auto;
    line-height: rem(21px);
    padding: 0 rem(20px);
    font-size: rem(15px);
}

.loading span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loading em {
    font-size: rem(12px);
    color: #666;
}

.abtn-sure {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(40px);
    text-align: center;
    background-color: #fff;
    line-height: rem(38px);
    font-size: rem(15px);
    font-weight: 600;
    border-top: 1px solid #e6e6e6;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#toast {
    position: fixed;
    left: 50%;
    bottom: 14%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: rem(10px) rem(20px);
    line-height: rem(20px);
    text-align: center;
    background: rgba(0, 0, 0, .8);
    color: $bgWhite;
    -webkit-border-radius: rem(8px);
    border-radius: rem(8px);
    z-index: 999;
    font-size: rem(14px);
}

.btn-two {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(40px);
    text-align: center;
    background-color: #fff;
    line-height: rem(38px);
    border-top: 1px solid #e6e6e6;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    span {
        display: block;
        width: 50%;
        font-size: rem(15px);
        font-weight: 600;
        color: #222;
    }
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.disabled {
    background-color: #888 !important;
    color: #fff !important;
    border: 1px solid #888 !important;
}

.tips {
    display: none;
    padding: 0 0 30px 0;
    text-align: center;
}

.tips p {
    color: #999;
    font-size: 12px;
}

.num-fly {
    position: relative;
    display: inline-block;
    width: rem(12px);
    height: rem(12px);
    background: $chiefColor;
    -webkit-border-radius: rem(12px);
    border-radius: rem(12px);
    z-index: 100;
}

/* goods tag img*/
.leftUpTag-box {
    z-index: 2;
    position: absolute;
    left: rem(5px);
    top: rem(5px);
    img {
        width: rem(35px);
    }
}

.good-img {
    position: relative;
}

.leftDownTag-box {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    zoom: 1;
    &:after {
        content: "";
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    &:after {
        clear: both;
    }
    span {
        float: left;
        border: rem(1px) solid #ffa700;
        padding: 0 rem(6px) rem(2px);
        font-size: rem(10px);
        background-color: rgba(255, 255, 255, 0.9);
        height: rem(13px);
        line-height: rem(11px);
        margin: 0 0 rem(4px) rem(4px);
        border-radius: rem(6px);
        color: #ffa601;
        vertical-align: middle;
        overflow: hidden;

    }
    &.android {
        span {
            padding: rem(1px) rem(6px) rem(2px);
        }
    }

}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: rem(90px);
    height: rem(90px);
    -webkit-transform: translate(rem(-45px), rem(-45px));
    transform: translate(rem(-45px), rem(-45px));
    z-index: 9999999;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    height: rem(50px);
    background: #fff;
    border-top-color: #ddd !important;
    ul {
        width: 100%;
        overflow: hidden;
        li {
            float: left;
            height: 100%;
        }
        li a {
            display: block;
            width: 100%;
            text-align: center;
        }
        li i {
            position: relative;
            display: inline-block;
            width: rem(27px);
            height: rem(27px);
        }
        li em {
            display: block;
            margin: 0 0 0;
            line-height: 1;
            font-size: rem(10px);
            color: #808080;
        }
        li .home {
            background: url("../images/icon_home.png") no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
        li .catalog {
            background: url("../images/icon_catalog.png") no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
        li .found {
            background: url("../images/icon_found.png") no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
        li .cart {
            background: url("../images/icon_cart.png") no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
            b {
                position: absolute;
                top: rem(2px);
                right: rem(-10px);
                display: inline-block;
                padding: 0 rem(4px);
                font-size: rem(12px);
                line-height: rem(14px);
                font-weight: 400;
                color: #fff;
                background: $chiefColor;
                -webkit-border-radius: rem(12px);
                border-radius: rem(12px);
            }
        }
        li .user {
            background: url("../images/icon_user.png") no-repeat;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
        li .active {
            .home {
                background: url("../images/icon_home_active.png") no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
            }
            .catalog {
                background: url("../images/icon_catalog_active.png") no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
            }
            .cart {
                background: url("../images/icon_cart_active.png") no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
            }
            .found {
                background: url("../images/icon_found_active.png?t=1") no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
            }
            .user {
                background: url("../images/icon_user_active.png") no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
            }
            em {
                color: #ff5d3d;
            }
        }
    }
}

.container, #container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    clear: both;
}

.empty-container {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    .empty_infor {
        text-align: center;
        img {
            width: rem(158px);
            display: block;
            margin: 0 auto;
        }
        span {
            display: inline-block;
            margin-top: rem(10px);
            color: #999;
            font-size: rem(16px);
        }
    }
    a {
        display: block;
        width: 90%;
        height: rem(48px);
        margin: rem(52px) auto 0;
        line-height: rem(48px);
        text-align: center;
        -webkit-border-radius: rem(48px);
        border-radius: rem(48px);
        color: #fff;
        background: #ff5c33;
        font-size: rem(15px);
    }
}

.ui-flex, .ui-flex *, .ui-flex:after, .ui-flex:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ui-flex .cell {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0 !important;
}

.ui-flex .cell2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.ui-flex .cell3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
}

.salesVolume {
    display: block;
    font-size: rem(12px);
    color: #999;
    line-height: rem(16px);
    b {
        font-size: rem(13px);
        font-weight: normal;
        line-height: rem(16px);
    }
}

.goods-column2 {
    margin-left: rem(8px);
    li {
        float: left;
        width: 50%;
        padding: rem(8px) rem(8px) 0 0;
        .no-correctDelivery {
            position: absolute;
            left: rem(16px);
            bottom: rem(36px);
            color: #FFA601;
            font-size: rem(12px);
            line-height: rem(14px);
        }
        a {
            position: relative;
            display: block;
            width: 100%;
            padding: 0 0 rem(12px);
            .goods-tag3 {
                position: absolute;
                top: 0;
                left: rem(4px);
            }
            .good-img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .good-info {
                margin: rem(8px) 0 0 rem(12px);
                word-break: break-all;
                h3 {
                    height: rem(38px);
                    line-height: rem(19px);
                    font-size: rem(14px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                p {
                    position: relative;
                    margin-top: rem(16px);
                    color: $chiefColor;
                    em {
                        font-size: rem(17px);
                        &:before {
                            content: '￥';
                            font-size: rem(12px);
                            margin-right: 0;
                            line-height: 1;
                        }
                    }
                    s {
                        margin-right: rem(5px);
                        font-size: rem(12px);
                    }
                    del {
                        display: none;
                        color: #777;
                        font-size: rem(12px);
                        text-decoration: line-through;
                    }
                    .icon-add {
                        position: absolute;
                        right: rem(8px);
                        bottom: 0;
                    }
                }
            }
        }
    }
}

.goods-column3 {
    margin-left: rem(5px);
    li {
        margin: rem(5px) rem(5px) 0 0;
        background-color: #fafafa;
        a {
            position: relative;
            display: block;
            width: 100%;
            padding: 0 0 rem(12px);
            .goods-tag3 {
                position: absolute;
                top: 0;
                left: rem(4px);
            }
            .good-img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .good-info {
                margin: rem(12px) rem(5px) 0 rem(5px);
                word-break: break-all;
                text-align: center;
                h3 {
                    height: rem(14px);
                    line-height: rem(14px);
                    font-size: rem(14px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                }
                p {
                    position: relative;
                    margin-top: rem(8px);
                    color: $chiefColor;
                    text-align: center;
                    em {
                        font-size: rem(14px);
                        &:before {
                            content: '￥';
                            font-size: rem(11px);
                            margin-right: 0;
                            line-height: 1;
                        }
                    }
                    s {
                        margin-right: rem(5px);
                        font-size: rem(12px);
                    }
                    del {
                        display: none;
                        color: #777;
                        font-size: rem(12px);
                        text-decoration: line-through;
                    }
                    .icon-add {
                        position: absolute;
                        right: rem(8px);
                        bottom: 0;
                    }
                }
            }
        }
    }
}

.goods-filter .catalog span.noClick {
    background: transparent;
}

.goods-filter {
    position: relative;
    width: 100%;
    height: rem(48px);
    background-color: $bgWhite;
    .catalog {
        height: rem(48px);
        padding: rem(16px) 0 rem(17px);
        margin-right: rem(90px);
        text-align: center;
        span {
            padding-right: rem(14px);
            line-height: rem(15px);
            font-size: rem(15px);
            background: url('../images/arrow_down.png') no-repeat right center;
            -webkit-background-size: rem(9px) auto;
            background-size: rem(9px) auto;
        }
    }
    .filter {
        position: absolute;
        width: rem(130px);
        height: rem(30px);
        top: rem(9px);
        right: rem(10px);
        a {
            position: absolute;
            display: inline-block;
            width: rem(68px);
            height: rem(30px);
            line-height: 30px;
            top: 0;
            //text-indent: -9999px;
            &:first-child {
                width: rem(45px);
                left: 0;
                background: url('../images/icon_sales.png') no-repeat center right;
                -webkit-background-size: rem(9px) auto;
                background-size: rem(9px) auto;
            }
            &:last-child {
                width: rem(45px);
                right: rem(18px);
                background: url('../images/nav_choose.png') no-repeat center right;
                -webkit-background-size: rem(9px) auto;
                background-size: rem(9px) auto;
            }
        }
    }
}

.goods-tag {
    display: inline-block;
    width: rem(55px);
    height: rem(15px);
    line-height: rem(15px);
    font-size: rem(10px);
    text-align: center;
    -webkit-border-radius: rem(15px);
    border-radius: rem(15px);
}

.goods-tag1 {
    color: #fe784a;
    background-color: #ffe4d6;
}

.goods-tag2 {
    color: #d2911f;
    background-color: #fdebcb;
}

.goods-tag3 {
    width: rem(16px);
    height: rem(36px);
    background: url("../images/icon_xianshigou.png") no-repeat;
    -webkit-background-size: rem(16px) auto;
    background-size: rem(16px) auto;
    text-indent: -99999px;
}

/* 会员模块有用到-suxiaodi start */
.goods-discount-tag-top {
    position: absolute;
    top: rem(8px);
    left: rem(8px);
    width: rem(38px);
    height: rem(38px);
    padding: rem(1px);
    z-index: 2;
}

.goods-discount-tag-bottom {
    position: absolute;
    bottom: rem(6px);
    left: rem(10px);
    width: rem(50px);
    height: rem(14px);
}

/* 会员模块有用到-suxiaodi end */

.addr-company-tag {
    background: url("../images/addr_red_tag.png") no-repeat left center;
    -webkit-background-size: rem(24px) auto;
    background-size: rem(24px) auto;
}

.addr-home-tag {
    background: url("../images/addr_green_tag.png") no-repeat left center;
    -webkit-background-size: rem(24px) auto;
    background-size: rem(24px) auto;
}

.icon-add {
    display: inline-block;
    width: rem(27px);
    height: rem(20px);
    background: url('../images/icon_add.png') no-repeat center center;
    -webkit-background-size: rem(27px) auto;
    background-size: rem(27px) auto;
    text-indent: -999999px;
}

.icon-back {
    display: inline-block;
    width: rem(10px);
    height: rem(20px);
    background: url('../images/icon_back.png') no-repeat center center;
    -webkit-background-size: rem(10px) auto;
    background-size: rem(10px) auto;
    text-indent: -999999px;
}

.icon-clear {
    display: inline-block;
    width: rem(16px);
    height: rem(18px);
    background: url('../images/icon_clear.png') no-repeat center center;
    -webkit-background-size: rem(16px) auto;
    background-size: rem(16px) auto;
    text-indent: -999999px;
}

/* 没有更多 */
.master_no_more_tips {
    background: #f5f5f5;
    color: #999;
    text-align: center;
    font-size: rem(14px);
    padding: rem(10px) 0;
}

@media screen and (min-width: 320px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: rem(146px);
    }
}

@media screen and (min-width: 360px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: rem(166px);
    }
}

@media screen and (min-width: 375px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: rem(174px);
    }
}

@media screen and (min-width: 375px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: rem(174px);
        object-fit: cover;
    }
}

@media screen and (min-width: 400px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: rem(193px);
    }
}

@media screen and (min-width: 435px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: rem(203px);
    }
}

@media screen and (min-width: 450px) {
    .goods-column2 li a .good-img img, .recommend-area .recommend-wrap .recommend-list li a .recommend-img img {
        height: auto;
    }
}

/* 顶部 banner - 用于在分享页提示用户前往关注公众号 */
.shared-page-top-banner {
    display: none;
    position: relative;
    z-index: 1001;
    width: 100%;
    background: url("../images/shared-page-top-banner.png") no-repeat center;
    background-size: 100%;
    &:after {
        content: '';
        display: block;
        padding-bottom: 13.3333333%;
    }
    .link,
    .btn-close {
        position: absolute;
        top: 0;
        display: block;
        height: 100%;
    }
    .link {
        right: 0;
        width: 26.6666667%;
    }
    .btn-close {
        left: 0;
        width: 10.6666667%;
    }
}